@import url("./variables.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Geist", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

main,
footer {
  width: 75vw;
  margin: auto;
}

hr {
  margin-top: 3em;
}
